node_modules/
npm-debug.log
yarn-error.log

artifacts/
cache/

.env

deployments/localhost

coverage/
coverage.json

.DS_Store
.vscode/
.idea/
*.swp
*.swo

logs/
*.log

dist/
build/

*.key
*.pem

*.tmp
temp/
node_modules
.env

/cache
/artifacts
/docs

/typechain
/typechain-types

/coverage
/coverage.json

ignition/deployments/chain-31337

node_modules
.env

/cache
/artifacts

/typechain
/typechain-types

/coverage
/coverage.json

ignition/deployments/chain-31337
